<%- include('partials/header.ejs')%>

<div class="container mx-auto py-8 table-container">

   <h1 class="show-name">Members of L+B clan</h1>
    <h4 class="tell text-center">Click on any member to view their full profile</h4>
    <table class="w-full table-responsive">
        <thead>
            <tr>
                <th class="text-lef">NAME</th>
                <th class="text-lef">RANK</th>
                <th class="text-lef">POSITION</th>
                <th class="text-lef">KILLS</th>
                <th class="text-lef">WINS</th>
                
            </tr>
        </thead>
        <tbody>
  <%members.forEach(function(member){%>  
            <tr>
                <td class="list-name cone"><a href="/members/<%=member._id%>/<%=member.name%>"><strong><%=member.name%></strong></a></td>
                <td class="cone"><%=member.rank%></td>
                <td class="cone"><%=member.position%></td>
                <td class="cone"><%=member.kills%></td>
                <td class="cone"><%=member.wins%></td>
            </tr>
  <%})%>
        </tbody>
        </table>
        </div>
<%- include('partials/footer.ejs')%>