<%- include('partials/header.ejs')%>

<center>
<div class="container">
    <h1 class="show-name">L+B|<%=member.name%></h1>
    <img class="img-thumbnail avatar" src="<%=member.avatar%>" style="padding:0">
     <h3 class="cone"><strong>Rank -</strong><%=member.rank%></h3>
     <h3 class="cone"><strong>Position in clan -</strong><%=member.position%></h3>
     <h3 class="cone"><strong>Totals kills -</strong><%=member.kills%></h3>
     <h3 class="cone"><strong>wins -</strong><%=member.wins%></h3>
</div>
</center>


<%- include('partials/footer.ejs')%>